/*
	margin-bottom: 30px;
	margin-top: 40px;
	padding: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	color: white;            color texto
	text-align:center;
	font-size: small;
*/

body{
	background-color: #FFFFFF;
	padding: 20px;

	/*background-color: #343838;*/
	/*color: darkgray;*/
}

